body {
    font-family: "Google Sans", "Arial", sans-serif;
    background: #eeeeee;
    text-align: center;
}
#page-container {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin-bottom: 100px;
}
#title {
    margin-top: 40px;
    margin-left: 2%;
    color: #424242;
}
#search-failed {
    margin-top: 10px;
    margin-left: 2%;
    color: #9e9e9e;
}
#home-button-container {
    margin-top: 10px;
    width: 100%;
    text-align: right;
    margin-bottom: -85px;
}
#home-button {
    width: 50px;
    height: 50px;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
    text-align: center;
    background: white;
    color: #757575;
    -webkit-transition: background 0.3s, width 0.5s;
    transition: background 0.3s, width 0.5s;
}
#home-button:hover {
    cursor: pointer;
    background: #e0e0e0;
}
#home-button-icon {
    position: relative;
    top: 12px;
}