body {
    font-family: "Main Font", "Arial", sans-serif;
    background: #eeeeee;
    text-align: center;
}

#page-container {
    display: inline-block;
    width: 100%;
    max-width: 970px;
    text-align: left;
}

#loader {
    text-align: center;
    margin-top: -50px;
}

#title {
    margin-top: 40px;
    margin-left: 2%;
    color: #424242;
}

#search-box {
    width: 100%;
    text-align: right;
    margin-top: -67px;
}

#search-cancel {
    display: none;
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    margin-bottom: -10px;
    top: -42px;
    right: calc(2% + 8px);
    width: 30px;
    height: 26px;
    color: #616161;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    border-radius: 50%;
}

#search-cancel:hover {
    cursor: pointer;
}

#search-input {
    width: 50px;
    height: 50px;
    margin-right: 2%;
    margin-left: 2%;
    border: none;
    text-align: center;
    color: #757575;
    -webkit-transition: background 0.3s, width 0.5s;
    transition: background 0.3s, width 0.5s;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 0px;
    max-width: 400px;
}

#search-input:hover {
    cursor: pointer;
    background: #e0e0e0;
}

#search-input:hover:focus {
    cursor: text;
}

#search-input.search-input-on {
    background: #e0e0e0;
    text-align: left;
    padding-left: 11px;
    font-size: 15px;
    color: #616161;
    width: calc(96% - 11px);
}

input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#search-failed {
    display: none;
    margin-top: 40px;
    margin-left: calc(2% + 15px);
    color: #9e9e9e;
}

textarea, select, input, button {
    outline: none;
}

.year-name {
    margin-top: 40px;
    margin-left: 2%;
    color: #9e9e9e;
    text-align: left;
}

.artist {
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: white;
    width: calc(18% - 4px);
    margin: 1%;
    border-radius: 0px;
    overflow: hidden;
    padding-top: 1%;
    color: #616161;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.artist:hover {
    background: #e0e0e0;
}

.artist-thumb {
    width: 90%;
}

.artist-bottom {
    display: table;
    vertical-align: middle;
    height: 50px;
    text-decoration: none;
    width: 100%;
}

.artist-name {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -3px;
    width: 0px;
    font-size: 17px;
    padding-left: 8%;
    padding-right: 8%;
}

#footer {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 2%;
    padding: 10px;
}

#footer-text {
    color: #9e9e9e;
    font-size: 14px;
}

@media only screen and (max-width: 1050px) {
    #title {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 900px) {
    #title {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 700px) {
    #title {
        margin-top: 20px;
        margin-left: 4%;
    }
    #search-failed {
        margin-left: 25px;
    }
    #search-input {
        margin-right: 10px;
        margin-left: 10px;
    }
    #seach-cancel {
        right: calc(4% + 10px);
    }
    #page-container {
        max-width: 370px;
        margin-top: 5px;
    }
    .artist {
        width: calc(31.33% - 3px);
        padding-top: 1.5%;
    }
    .year-name {
        margin-left: 4%;
    }
    .artist-name {
        font-size: 14px;
    }
    .artist-bottom {
        height: 43px;
    }
    #footer {
        margin-left: 15px;
        margin-right: 15px;
    }
    #search-input:hover {
        background: white;
    }
    #search-input:hover.search-input-on {
        background: #e0e0e0;
    }
}

@media only screen and (max-width: 325px) {
    #page-container {
        margin-top: 0px;
    }
}