body {
    font-family: "Google Sans", "Arial", sans-serif;
    background: #eeeeee;
    text-align: center;
}
#page-container {
    display: inline-block;
    width: 100%;
    max-width: 970px;
    text-align: left;
    margin-bottom: 100px;
}
#title-container {
    margin-top: 18px;
    display: table;
    vertical-align: middle;
    height: 85px;
    margin-left: 2%;
}
#title {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    color: #424242;
}
#home-button-container {
    width: 100%;
    text-align: right;
    margin-top: -68px;
}
#home-button {
    width: 50px;
    height: 50px;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
    text-align: center;
    background: white;
    color: #757575;
    -webkit-transition: background 0.3s, width 0.5s;
    transition: background 0.3s, width 0.5s;
}
#home-button:hover {
    cursor: pointer;
    background: #e0e0e0;
}
#home-button-icon {
    position: relative;
    top: 12px;
}
#main-image-container {
    width: 96%;
    margin-left: 2%;
    margin-top: 50px;
    text-align: right;
    display: none;
}
#main-image-padding-container {
    display: inline-block;
    background: white;
    padding: 10px;
    margin-bottom: -5px;
    position: relative;
}
#main-image-scroll-container {
    overflow: none;
}
#main-image {
    margin-bottom: -5px;
}
#gallery-center-container {
    width: 100%;
    text-align: left;
}
#gallery-container {
    position: relative;
    margin-left: 2%;
    width: calc(100% - 37px);
    top: -206px;
    max-width: 260px;
    background: white;
    padding: 8px;
    font-size: 0;
    display: none;
}
.gallery-image {
    display: inline-block;
    width: calc(25% - 4px);
    padding: 2px;
}
.gallery-image:hover {
    cursor: pointer;
}
#loader {
    text-align: center;
    margin-top: -75px;
}
#gallery-navigator {
    position: relative;
    margin-top: 15px;
    margin-left: 2%;
    margin-bottom: -60px;
}
#gallery-navigator-text {
    color: #616161;
    font-size: 20px;
}
.gallery-navigator-tab {
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 4px;
    margin-right: 4px;
    background: white;
    color: #757575;
    -webkit-transition: background 0.3s, width 0.5s;
    transition: background 0.3s, width 0.5s;
}
.gallery-navigator-tab:hover {
    cursor: pointer;
    background: #e0e0e0;
}
#gallery-navigator-tab--current {
    background: #e0e0e0;
}